.wrapper{
    background: rgb(247, 242, 235);
    width:1002px;
    height: 100%;
    margin:0 auto;
}

.header-wrapper{
    background: lightgray;
    width: 1002px;
    height: 130px;
}

.headerprimary{
    width: 1002px;
    height: 90px;
    background-color: rgb(14,161,149);
}

.headerprimary_left{
    width: 900px;
    height: 90px;
    margin: 0 auto;
    padding: 15px;
}

.logo{
    width:225px;
    height:50px;
    background-color:  rgb(108, 228, 218);
    float: left;
}

.search-box{
    float:left;
    width:337px;
    height:33px;
    margin-top: 10px;
    margin-left:24px;
    background-color: aquamarine;
}

.headerprimary-right{
    float:right;
    height:37px;
    width:145px;
    margin-top:28px;
}

.upper-headerprimary-right{
    float:right;
    height:22px;
    width:80px;
    background-color: rgb(27, 84, 131);
    margin-top: -30px;

}
.lower-headerprimary-right{
    float:right;
    height:22px;
    width:100%;
    background-color: rgb(3, 49, 45);
    margin-top: -4px;
}

.headersecondary{
    width:936px;
    height:38px;
    margin:0 auto;
    
}
.upper-headersecondary{
    float:left;
    width:479px;
    height:20px;
    margin-top:-20px;
    margin-left: 16px;
    background-color:rgb(157, 175, 103);
}

.lower-headersecondary{
    float:right;
    width: 302px;
    height:18px;
    margin-top:-20px;
    background-color:rgb(85, 212, 85);
}

.body-wrapper{
    background: rgb(247, 242, 235);
    width: 1000px;
    margin-top:40px;
    height: 500px;
    overflow: auto;
}

.left-body-wrapper{
    margin-top:25px;
    float:left;
    width:194px;
    height:100%;
    background-color:lightgrey;
    overflow: auto;
}

.left-top{
    height: 132px;
    width: 100%;
    background-color: :lightgrey;
}

.left-top-head{
    height: 35px;
    width: 100%;
    background-color: rgb(14,161,149);
}

.left-bottom{
    height:244px;
    width:100%;
    background-color: lightgrey;
}

.left-bottom-head{
    height: 35px;
    width: 100%;
    background-color: rgb(14,161,149);
}

.mid-body-wrapper{
    float:right;
    width:718px;
    height:100%
}

.top-mid{
    width:519px;
    height:100%;
    background-color:silver;
    margin-top:25px;
    margin-left:-50px;
}
.entries{
    width:100%;
    height:30px;
    background-color: rgb(247, 242, 235);
}

.menu{
    width: 100%;
    height:100%;  
}

.left-menu{
    width:519px;
    height:38px;
    margin-top: -470px;
    margin-left: -50px;
    background-color:rgb(214, 191, 150);
}
.right-menu{
    width:519px;
    height:30px;
    margin-left: -50px;
    background-color:rgb(70, 238, 221);
}


.footer_bg
{
    background:#dadad9;
    clear:both;
}

.footer_wrapper{
    width:100%;
    height:46px;
    background-color: rgb(14, 43, 43);
}
.footer_content_wrapper{
    width:936px;
    height:100%;
    margin:0 auto;

}
.footer_left_menu{
    float:left;
    width: 326px;
    height:100%;
    background-color: rgb(58, 18, 58);
    
    }
.footer_right_text{
    float: right;
    width:76px;
    height:100%;
    background-color:rgb(32, 20, 114);
}